;; shadow-cljs configuration
{:lein true

 :builds
       {:dashboard {:target     :browser
                    :output-dir "resources/public/assets/js"
                    :asset-path "/assets/js"
                    :modules    {:dashboard {:init-fn dashboard.core/init}}
                    :devtools   {:http-root    "resources/public"
                                 :http-handler shadow.http.push-state/handle
                                 :http-port    8000
                                 :after-load   dashboard.core/start}}}}